body {
    background-color: #31316c;
    user-select: none;
}
#scoreboard {
    color: white;
    font-size: x-large;
}
.score-label {
    color: #f3e3a1;
}
#score,#total-score {
    color: yellow;
}
#speed-bonus {
    color: rgba(210, 210, 88, 0.66);
}
#total-score {
    font-weight: bold;
}
#adam {
    color: lawngreen;
    position: relative;
    font-size: large;
}

.Randy,.Isabel,.Adam,.letter,#button-holder,#tabs {
    position: relative;
    display: inline;
}

a:link,a:visited,#tabs {
    color: #c6c6e5;
}
a:hover {
    color: #e9e9ef
}
a:active {
    color: #7777e5;
}
.selected-link {
    /*background-color: #6363dc;*/
    text-decoration: underline;
    color: #b4a2ea;
}

#instructions,#backstory {
    display: inline;
    color: #e7e3ec;
    font-size: large;
}
#backstory {
    display: none;
}
.Isabel {
    color: #fa5ca3;
}

.Randy {
    color: #87fc3f;
}

.Adam {
    color: #CCCCFF;
}

.target {
    position: absolute;
    color: darkgreen;
    padding: 10px;
    font-size: larger;
    background-color: #CCCCFF;
    border: 1px solid #9797ce;
    border-radius: 10px;
    box-shadow: 6px 6px 8px #222248;
    cursor: pointer;
}

.explosion {
    position: absolute;
    color: lawngreen;
}

.dum {
    color: rgba(0, 100, 0, 0.5);
}

.dumm {
    background-color: #cb94ee;
}
.isa {
    background-color: #fa5ca3;
}
.level2 {
    background-color: #455796;
}
.level3 {
    background-color: #54549f;
}
#just-listen {
    background-color: #b272dc;
}
